// COLORS 
$primary-color: #003459;
$text-color: #002A48;
$white: #FDFDFD;
$background-primary: linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
$background-secondary: #FCEED5;
$card-background: #FDFDFD;
$tag-color: #00A7E7;
$newsletter-background: #003459;

// LAYOUT
$max-width: calc(1500px + 1.5rem);
$padding-inline: 1.5rem ;
