@use "variables" as *;
@use "navbar";
@use "buttons";
@use "posts";
@use "blogs";
@use "footer";

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Gilroy', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    overflow-x: hidden;
}

@mixin flex-center($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin container($max-width, $padding-inline) {
    width: 100%;
    max-width: $max-width;
    margin-inline: auto;
    padding-inline: $padding-inline;
}

.container > header {
    position: relative;
    background: $background-primary;
    min-height: 100svh;
}

.hero {
    @include container($max-width, $padding-inline);
    padding-top: 7rem;
    @include flex-center(space-between, flex-start, flex-start);

    &__content {
        @include flex-center(column, flex-start, flex-start);
        gap: 2.5rem;
        max-width: 40rem;
    }

    &__heading {
        color: $primary-color;

        h1 {
            font-weight: bold;
            font-size: 5rem;
        }

        h2 {
            font-size: 2.5rem;
            font-weight: bold;
        }
    }

    &__actions {
        @include flex-center(row, flex-start, center);
        gap: 1.5rem;
    }

    &__img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        max-width: 65rem;
        overflow: hidden;
    }
}

.banner-container {
    @include container($max-width, $padding-inline);
    padding-bottom: 7rem;
}

.banner {
    @include container($max-width, $padding-inline);
    @include flex-center(row, center, center);
    gap: 2rem;
    background-color: $background-secondary;
    border-radius: 1.5rem;

    > img {
        align-self: flex-end;
        max-width: 40rem;
        width: 100%;
    }

    &__content {
        @include flex-center(column, flex-start, flex-start);
        gap: 2rem;
        max-width: 32rem;
        margin: 5rem;
        text-align: end;
    }

    &__heading {
        color: $primary-color;

        h2 {
            font-size: 4rem;
            font-weight: bold;
        }

        h3 {
            margin-top: .5rem;
            font-size: 2.7rem;
        }
    }

    &__actions {
        @include flex-center(row, flex-end, center);
        gap: 1.5rem;
    }
}